/* Estilos Generales */
:root {
  --colorBlanco: #fff;
  --colorNegro: #000;
}
* {
  font-family: "Montserrat", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wppContainer {
  background-color: #116c09;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 2rem;
  right: 2rem;

  cursor: pointer;
}
.wppLogo {
  width: 2.5rem;
}
.oscurecer-fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000008e;
}
.oscurecer-fondo-proyecto {
  background-color: #00000049;
}
header a {
  color: var(--colorBlanco);
  text-decoration: none;
  font-weight: 500;
}
.centrar-texto {
  text-align: center;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
.titulos-margin {
  margin: 2rem;
  text-decoration: underline;
  text-underline-offset: 1rem;
}
.avatar {
  display: none;
}
.text-center {
  text-align: center;
}
/* Header Estilos */

.index-header,
.proyectos-header {
  background-image: url(../img/indexHeaderBackground.jpg);
  background-size: cover;

  height: 95vh;

  position: relative;
}
.proyectos-header {
  background-image: url(../img/proyectosBackground.jpeg);
  background-position: right;
}
.index-h1::before {
  content: "< ";
  color: rgb(0, 255, 255);
  font-weight: 400;
}
.index-h1::after {
  content: " />";
  color: rgb(0, 255, 255);
  font-weight: 400;
}
.index-header-btn {
  background-color: rgb(128, 128, 128);
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
  border: none;
  color: var(--colorBlanco);
}
.index-header-contenedor-superior {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.index-header-contenedor-inferior {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  height: 100vh;
  padding: 0 1.5rem;
}
.logosHeader {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
}
.index-header-contenedor-inferior p {
  text-align: center;
}
.bienvenida-texto {
  font-size: 2rem;
  text-align: center;
}

.fondoNegro {
  background-color: #000;
}
/* Main Estilos */
main {
  margin: 2rem 0;
  padding: 0 1rem;
}
.card-proyecto h3 {
  color: var(--colorBlanco);
  font-weight: 400;
}

.card-proyecto {
  background-color: var(--colorNegro);
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card-proyecto img {
  width: 100%;
  height: 15rem;
  border-radius: 0.5rem;
  object-fit: cover;
}
.contenedor-proyectos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
}
.contenedor-proyectos-grid_1,
.contenedor-proyectos-grid_2,
.contenedor-proyectos-grid_3,
.contenedor-proyectos-grid_4,
.contenedor-proyectos-grid_5 {
  background-color: rgb(240, 240, 240);
  max-width: 30rem;
  padding-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.323);
}
.contenedor-proyectos-grid_1 img,
.contenedor-proyectos-grid_2 img,
.contenedor-proyectos-grid_3 img,
.contenedor-proyectos-grid_4 img,
.contenedor-proyectos-grid_5 img {
  width: 100%;
}
.contenedor-proyectos-grid_1 p,
.contenedor-proyectos-grid_1 h3,
.contenedor-proyectos-grid_2 p,
.contenedor-proyectos-grid_2 h3,
.contenedor-proyectos-grid_3 p,
.contenedor-proyectos-grid_3 h3,
.contenedor-proyectos-grid_4 p,
.contenedor-proyectos-grid_4 h3,
.contenedor-proyectos-grid_5 p,
.contenedor-proyectos-grid_5 h3 {
  padding-left: 1rem;
}
.proyectos-h2 {
  margin: 2rem 0;
}
/* Experiancia Estilos */
.experiencia{
  padding: 0 1rem;
}
.card-experiencia {
  background-color: var(--colorNegro);
  max-width: 30rem;
  height: 20rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
/* Footer Estilos */
.derechos-footer {
  color: var(--colorBlanco);
}
footer {
  background-color: var(--colorNegro);
  padding: 2rem 0;
}
footer img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}
.footer-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}
@media only screen and (min-width: 800px) {
  .avatar {
    display: block;
    width: 15rem;
  }
  .index-header-contenedor-superior,
  ul {
    flex-direction: row;
  }
  .index-header-contenedor-inferior p {
    max-width: 30rem;
  }
  .experiencia-card {
    max-width: 35rem;
  }
  .card-proyecto img {
    height: 27rem;
  }
  #carouselExampleCaptions {
    max-width: 75%;
    margin: 0 auto;
  }
}
