/* Footer Estilos */
.derechos-footer {
  color: $blanco;
}
footer {
  background-color: $negro;
  padding: 2rem 0;
}
footer img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}
.footer-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}